@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {

    background-color: #181818;
    font-family: 'Roboto', sans-serif;
    margin: 72px 0;

}

.page-title, .page-description {
 
    padding-left: 64px;

}

.page-title {

    color: rgb(236, 54, 78);
    margin-bottom: 6px;

}

.page-description, .video-description, .video-views {

    color: rgba(255, 255, 255, 0.6)

}

.thumbnail, .videos {

    width: 100%;

}

.videos {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 12px;

}

.video {

    width: 30%;
    height: fit-content;
    margin-top: 24px;
    padding: 32px 12px;
    transition: .5s ease-in-out;
    cursor: pointer;

}

.video:hover {

    transform: scale(1.02);
    filter: brightness(120%);

}

.video-views, .video-date, .video-time {

    display: block;

} 

.video-time {

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    float: right;
    padding: 8px 12px;
    transform: translateY(-35px);

}

.video-title {

    margin: 8px 0 12px;
    color: white

}

.video-description {

    margin: 0;

}

.video-views {

    margin-top: 12px;

}

.video-date {

    text-align: right;
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px

}