@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap'); 
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&display=swap');
/* font-family: 'IBM Plex Sans Arabic', sans-serif; */

* {

    margin: 0;

}

body {

    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ef/Santo_Andr%C3%A9_SP.jpg');
    background-size: 100%;
    color: #ffffff;    
    height: 1500px;

}

header {

    padding-top: 15px;
    background-color: #000000;    
    font-family: 'Roboto', sans-serif;
    text-align: center;  

}

main, .curiosidades {

    margin: 20px;
    padding: 10px;
    width: 600px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 120%;
    background-color: #3a3a3a;

}


iframe {

    margin: 20px;
}

.youtube-icon{

    position: -webkit-sticky;
    position: sticky;
    bottom: 5;   

}

.instagram-icon{

    size: 10px;

}